{% extends 'base.html' %}

{% block content %}
<section class="bg-primary text-light text-center shadow">
    <div class="container p-5">
        <div class="row">
            <div class="d-md-flex align-items-center justify-content-evenly">
                <h1 class="col text-center display-4">Trust In Carport.</h1>
            </div>
        </div>
    </div>
</section>

<section class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../static/images/profile.jpg" class="img-fluid rounded-circle shadow-lg" alt="Carport">
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h2 class="mb-4">Look No Further, Carport Has The Vehicle You've Been Looking For</h2>
                <p class="lead">Discover our wide range of durable and stylish cars designed to safeguard your future from breaking down and walking home.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-secondary text-light py-5">
    <div class="container">
        <h2 class="text-center mb-5">Why Choose Carport?</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-light h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-shield-alt fa-3x mb-3"></i>
                        <h3 class="card-title">No Clunkers, Only Showroom Ready Inventory</h3>
                        <p class="card-text">Our vehicles are built to last, providing long-lasting endurance and protection.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-light h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-paint-brush fa-3x mb-3"></i>
                        <h3 class="card-title">Easy Approval</h3>
                        <p class="card-text">Our expert team ensures quick and hassle-free contracts, No credit? No problem!.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-light h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-tools fa-3x mb-3"></i>
                        <h3 class="card-title">2 Year Guarantee And Warranty</h3>
                        <p class="card-text">Choose from a variety of luxury and economical vehicles.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
